<?xml version="1.0"?>

<config>
    <modules>
        <Web4pro_Fastorder>
            <version>1.0.1</version>
        </Web4pro_Fastorder>
    </modules>
    <global>
        <helpers>
            <web4pro_fastorder>
                <class>Web4pro_Fastorder_Helper</class>
            </web4pro_fastorder>
        </helpers>
        <models>
            <web4pro_fastorder>
                <class>Web4pro_Fastorder_Model</class>
                <resourceModel>web4pro_fastorder_resources</resourceModel>
            </web4pro_fastorder>
            <web4pro_fastorder_resources>
                <class>Web4pro_Fastorder_Model_Resource</class>
                <entities>
                    <order>
                        <table>web4pro_fastorder_orders</table>
                    </order>
                    <country>
                        <table>web4pro_fastorder_country</table>
                    </country>
                </entities>
            </web4pro_fastorder_resources>
            <sales>
                <rewrite>
                    <service_quote>Web4pro_Fastorder_Model_ServiceQuote</service_quote>
                    <order>Web4pro_Fastorder_Model_OrderStandard</order>
                </rewrite>
            </sales>
            <customer_resource>
                <rewrite>
                    <customer>Web4pro_Fastorder_Model_Resource_Customer</customer>
                </rewrite>
            </customer_resource>
        </models>
        <blocks>
            <web4pro_fastorder>
                <class>Web4pro_Fastorder_Block</class>
            </web4pro_fastorder>
        </blocks>
        <resources>
            <fastorder_setup>
                <setup>
                    <module>Web4pro_Fastorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fastorder_setup>
            <fastorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fastorder_write>
            <fastorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fastorder_read>
        </resources>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <web4pro_events>
                        <class>web4pro_fastorder/observer</class>
                        <method>saveMagentoOrderId</method>
                    </web4pro_events>
                </observers>
            </checkout_type_onepage_save_order_after>

            <controller_action_layout_generate_blocks_after>
                <observers>
                    <web4pro_events>
                        <class>web4pro_fastorder/observer</class>
                        <method>changeOnepageCheckout</method>
                    </web4pro_events>
                </observers>
            </controller_action_layout_generate_blocks_after>

            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <web4pro_events>
                        <class>web4pro_fastorder/observer</class>
                        <method>changeOnepageCheckout</method>
                    </web4pro_events>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
        <template>
            <email>
                <web4pro_fastorder_general_template_admin translate="label" module="web4pro_fastorder">
                    <label>Web4pro Fast Order Admin Email template</label>
                    <file>fastorder/admin_order.html</file>
                    <type>html</type>
                </web4pro_fastorder_general_template_admin>
                <web4pro_fastorder_general_template_customer translate="label" module="web4pro_fastorder">
                    <label>Web4pro Fast Order Customer Email template</label>
                    <file>fastorder/customer_order.html</file>
                    <type>html</type>
                </web4pro_fastorder_general_template_customer>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <web4pro_fastorder>
                <use>standard</use>
                <args>
                    <module>Web4pro_Fastorder</module>
                    <frontName>fastorder</frontName>
                </args>
            </web4pro_fastorder>
        </routers>
        <translate>
            <modules>
                <Web4pro_Fastorder>
                    <files>
                        <default>Web4pro_Fastorder.csv</default>
                    </files>
                </Web4pro_Fastorder>
            </modules>
        </translate>
        <layout>
            <updates>
                <web4pro_fastorder>
                    <file>web4pro/fastorder.xml</file>
                </web4pro_fastorder>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <fastorder_after>
                        <type>model</type>
                        <class>Web4pro_Fastorder_Model_Observer</class>
                        <method>insertFastOrderBlockAfter</method>
                    </fastorder_after>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_order_place_after>
                <observers>
                    <fast_order_place_after>
                        <type>model</type>
                        <class>Web4pro_Fastorder_Model_Observer</class>
                        <method>saveFastOrderPlaceAfter</method>
                    </fast_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <web4pro_fastorder>
                    <file>web4pro/fastorder.xml</file>
                </web4pro_fastorder>
            </updates>
        </layout>
        <translate>
            <modules>
                <Web4pro_Fastorder>
                    <files>
                        <default>Web4pro_Fastorder.csv</default>
                    </files>
                </Web4pro_Fastorder>
            </modules>
        </translate>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <sales_grid_phone_append>
                        <type>model</type>
                        <class>Web4pro_Fastorder_Model_Observer</class>
                        <method>addPhoneColumnToSalesCollection</method>
                    </sales_grid_phone_append>
                </observers>
            </sales_order_grid_collection_load_before>
            <adminhtml_block_html_before>
                <observers>
                    <sales_grid_phone_append>
                        <type>model</type>
                        <class>Web4pro_Fastorder_Model_Observer</class>
                        <method>addPhoneColumnToSalesGrid</method>
                    </sales_grid_phone_append>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <web4pro_fastorder before="Mage_Adminhtml">Web4pro_Fastorder_Adminhtml</web4pro_fastorder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <web4pro_fastorder>
            <general>
                <create_magento_order>1</create_magento_order>
                <enabled>1</enabled>
                <send_email>0</send_email>
                <template_admin>web4pro_fastorder_general_template_admin</template_admin>
                <template_customer>web4pro_fastorder_general_template_customer</template_customer>
                <allow_countries>US,GB,CA,DE,FR,PL,CH,CZ,CK,ES,PT,UA,RU</allow_countries>
                <display_phone_in_sales_orders>0</display_phone_in_sales_orders>
            </general>
            <checkout>
                <change_onepage>0</change_onepage>
            </checkout>
        </web4pro_fastorder>
        <payment>
            <web4pro_fastorder>
                <active>1</active>
                <model>web4pro_fastorder/payment_method_fast</model>
                <order_status>pending</order_status>
                <title>Fast Order Default Payment Method</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </web4pro_fastorder>
        </payment>
    </default>
    <!--stores>
        <admin>
            <dev>
                <debug>
                    <template_hints>1</template_hints>
                    <template_hints_blocks>1</template_hints_blocks>
                </debug>
            </dev>
        </admin>
    </stores-->

</config>